{% extends 'index.html' %}
{% load static %}

{% block title %} About me {% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="container col-2">
            <div class="row">
                <div class="col text-center">
                    <img src="{% static 'images/pp_Alex.png' %}" class="img-thumbnail" alt="profile picture"
                        width="200px">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <small>アレクス シャオン</small>
                </div>
            </div>
        </div>

        <div class="col-5"></div>
        <div class="col-5">
            <div>
                <h5>アレクスの自己紹介</h5>
                <table class="table table-border table-sm less">
                    <thead>
                        <tr>
                            <th scope="col">名前</th>
                            <th scope="col">Shaon Indrajit Barua Alex (アレクス)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">大学</th>
                            <td>East Delta University</td>
                        </tr>
                        <tr>
                            <th scope="row">メール</th>
                            <td>indrajit.alex@gmail.com</td>
                        </tr>
                        <tr>
                            <th scope="row">ギットハブ</th>
                            <td><a href="http://github.com/alex-pythonista">@alex-pythonista</a></td>
                        </tr>
                        <tr>
                            <th scope="row">リンクトイン</th>
                            <td><a href="http://linkedin.com/in/indrajit-alex">linkedin.com/in/indrajit-alex</a></td>
                        </tr>
                        <tr>
                            <th scope="row">ポートフォリオサイト</th>
                            <td><a href="http://alexpy.vercel.app">alexpy portfolio</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- skills -->
            <div class="mt-5">
                <h5>技術スキル</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">プログラミング言語</th>
                            <th scope="col">フレームワークとデータベース</th>
                            <th scope="col">その他のツール</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">一</th>
                            <td>Python</td>
                            <td>Django & Django REST Framework</td>
                            <td>Git & GitHub</td>
                        </tr>
                        <tr>
                            <th scope="row">二</th>
                            <td>JavaScript</td>
                            <td>FastAPI</td>
                            <td>Docker</td>
                        </tr>
                        <tr>
                            <th scope="row">三</th>
                            <td>Go/Golang</td>
                            <td>PostgreSQL</td>
                            <td>AWS/Azure/GCP</td>
                        </tr>
                        <tr>
                            <th scope="row">四</th>
                            <td></td>
                            <td></td>
                            <td>Linux server</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

{% endblock %}